{{/* layouts/shortcodes/lightbox.html */}}
{{ $galleryID := .Get "id" | default (printf "gallery-%s" .Page.File.BaseFileName) }}
{{ $imagesParam := .Get "images" }}
{{ $sortby := .Get "sortby" | default "order" }}
{{ $resources := slice }}

{{ if $imagesParam }}
  {{ range (split $imagesParam ",") }}
    {{ $name := trim . " " }}
    {{ with $.Page.Resources.GetMatch $name }}
      {{ $resources = $resources | append . }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $resources = $.Page.Resources.Match "*.{jpg,jpeg,png,gif,webp,svg}" }}
  {{ if eq (len $resources) 0 }}
    {{ $resources = $.Page.Resources.ByType "image" }}
  {{ end }}
{{ end }}

{{ if gt (len $resources) 0 }}
  {{ if eq $sortby "name" }}
    {{ $resources = sort $resources "Name" "asc" }}
  {{ else if eq $sortby "date" }}
    {{ $resources = sort $resources "Date" "desc" }}
  {{ else }}
    {{ $resources = sort $resources "Params.order" "asc" }}
    {{ $resources = sort $resources "Name" "asc" }}
  {{ end }}
{{ end }}

{{ if not (gt (len $resources) 0) }}
  <p><em>No images found for the gallery. Put images in the page bundle (same folder as this page) or pass images="name.jpg"</em></p>
{{ else }}
  <div class="gallery-grid">
  {{ range $i, $img := $resources }}
    {{ $thumb := $img.Fit "800x600" }}
    {{ $caption := (or $img.Params.caption $img.Title $img.Name) }}
    <a
      href="{{ $img.Permalink }}"
      class="glightbox"
      data-gallery="{{ $galleryID }}"
      data-type="image"
      title="{{ $caption | htmlEscape }}"
      data-title="{{ $caption | htmlEscape }}"
      data-description="{{ $caption | htmlEscape }}"
      data-desc="{{ $caption | htmlEscape }}"
    >
      <img src="{{ $thumb.RelPermalink }}" alt="{{ $img.Params.alt | default $caption }}">
      <span class="caption">{{ $caption }}</span>
    </a>
  {{ end }}
  </div>
{{ end }}